html {
	font-family: "Comic Sans", "Comic Sans MS", cursive;
}
body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
canvas {
	margin-left: auto;
	margin-right: auto;
	/* prevent scrolling during play */
	touch-action: none;
}
button {
	display: inline-block;
	min-width: 10%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 15px;
}
fieldset {
	display: inline-block;
	padding-bottom: 15px
}
#settings {
	padding-bottom: 12px;
}
#confetti {
	position: absolute;
	border: none;
	z-index: 1;
	pointer-events: none;
	top: 0;
	right: 0;
	width: 100%;
}
.hidden {
	display: none;
}
.flex-parent {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	justify-content: space-evenly;
}
.score-labels {
	flex-basis: 40%;
	text-align: right;
}
.score-values {
	flex-basis: 40%;
	text-align: left;
}