html {
	font-family: "Comic Sans", "Comic Sans MS", cursive;
}
h1 {
	color: purple;
}
body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
canvas {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}
button {
	display: block;
	width: 10%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 15px;
}
.flex-parent {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	justify-content: space-evenly;
}
.score-group {
	flex-basis: 50%;
}